<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
        <title>{% block titulo %}Titulo Génerico{% endblock %}</title>
    </head>
    <body>
       {% block body %}
           Cuerpo Génerico
       {% endblock %}
    </body>
</html>