<h1>{% trans %}app.name{% endtrans %}</h1>
<h3>{% trans %}app.version{% endtrans %}</h3>
{% trans %}welcome.welcome{% endtrans %}
<br/>
<br/>
<b>{% trans %}welcome.date.time{% endtrans %}</b> {{date}}
<br/>
<br/>
<b>{% trans %}app.credits{% endtrans %}</b>
<br/>
<br/>
