{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}

{% block titulo %}
Nuevo Docente
{% endblock %}

{% block body %}
    <h3>Nuevo Docente</h3>
    
    <form action="{{ path('docente_new') }}" method="POST" {{ form_enctype(form) }}>
       {{ form_widget(form) }}
       <input type="submit" />
    </form>
{% endblock %}
