{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}
{% block titulo %}
    Nuevo Alumno
{% endblock %}

{% block body %}
    <form action="{{ path('alumno_new') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit">
    </form>
{% endblock %}