{% extends 'ItsurAeiBundle::aspirantelayout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}

{% block body %}
    <p align="center"> <img src="{{ asset('bundles/itsuraei/images/error.png') }}"/></p>
    <p class="advertencia" align="center">grupo de preguntas no encontrado.</p>
{% endblock %}
