{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}

{% block body %}
 <center>
 <tr>
  <td>
    <p class="subtitulos">
      Guardar Grupo
    </p>
    <br/>
    <p>
    <a href="{{ path('evaluacion_finalizar') }}" class="button verde">
        Terminar
    </a>
    </p>
   </td>
</tr>
  </center>
  </table>
{% endblock %}
