{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}
{% block title %}
    {% trans %}evaluations.title{% endtrans %}
{% endblock %}
{% block body %}
        <p align="center">
           <img src="{{ asset('bundles/itsuraei/images/admision2.jpg') }}" />
        </p>
        <p align="center">
           {% trans %}evaluations.welcome{% endtrans %}   
        </p>
        <br/>
        <br/>
        <p align="center">
           <a href="{{ path('evaluation_identification') }}" >Next</a>
        </p>
            
{% endblock %}
