{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}

{% block titulo %}
{% trans %}questions.new{% endtrans %}
{% endblock %}

{% block body %}
    <h3>{% trans %}questions.new{% endtrans %}</h3>
    
    <form action="{{ path('pregunta_new') }}" method="POST" {{ form_enctype(form) }}>
       {{ form_widget(form) }}
       <input type="submit" />
    </form>
{% endblock %}
