{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}

{% block titulo %}
Eliminar Grupo
{% endblock %}

{% block body %}
    <h3>Mensajes en Grupos</h3>
    {{mensaje}}
    <br/>
    <br/>
    <a href="{{path('grupo_list' ) }}">Lista Grupos</a>
{% endblock %}
