{% extends 'InformaticaPrometheusBundle::layout.html.twig' %}

{% block titulo %}
Actualizar Pregunta
{% endblock %}

{% block body %}
    <h3>Actualizar Pregunta</h3>
    
    <form action="{{ path('pregunta_update', {'id':id} ) }}" method="POST" {{ form_enctype(form) }}>
       {{ form_widget(form) }}
       <input type="submit" />
    </form>
{% endblock %}